<%= form_for(@video) do |f| %>
  <p>
    <%= f.label :title %> 
    <%= f.text_field :title, autofocus: true, placeholder: "video title" %>
  </p>
  <p>
    <%= f.label :description %> 
    <%= f.text_area :description, placeholder: "video description" %>
  </p>
  <p>
    <%= f.label :youtube_id %> 
    <%= f.text_field :youtube_id, placeholder: "enter the 11 random digits after the last slash" %>
  </p>
  <p>
    <%= f.submit %> |
    <%= link_to "Cancel", videos_path %>
  </p>
<% end %>