<%= form_for(@video) do |f| %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title, autofocus: true, placeholder: "video title" %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description, placeholder: "video description" %>
  </p>
  <p>
    <%= f.label :youtube_id %> <br>
    <%= f.text_field :youtube_id, placeholder: "enter the digits after the last slash ONLY" %>
  </p>
  <p>
    <%= f.submit %> |
    <%= link_to "Cancel", videos_path %>
  </p>
<% end %>