<article>
  <header>
    <h1><%= @video.title %></h1>
  </header>
  <p>
    <%= @video.description %>
  </p>
  <h3>Difficulty Level:</h3>
  
  <iframe width="560" height="315" 
  src="//www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
</article>
  
<%= link_to 'All Videos', videos_path %> |
<%= link_to 'Edit', edit_video_path(@video) %> | 
<%= link_to 'Delete', video_path(@video), method: :delete, data: {confirm: 'Are you sure?'} %>