<%= form_for(@category) do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %> | 
    <%= link_to "Cancel", categories_path %>
  </p>
<% end %>