<%= form_for(@plan) do |f| %>
  <p>
    <%= f.label :trainer_id %>
    <%= f.text_field :trainer_id %>
  </p>
  <p>
    <%= f.label :client_id %>
    <%= f.collection_select(:client_id, User.where(role: "client"), :id, :name, :prompt => 'Please select a client') %>
  </p>
  <p>
    <%= f.label :day %>
    <input type="date" name="plan[day]" />
  </p>

  <p>
    <%= f.submit %> |
    <%= link_to "Cancel", plans_path %>
  </p>
<% end %>