<article>
  <header>
    <h1><%= @plan.week_of %></h1>
  </header>

  <div class="small-12 small-centered columns exsets">
    <% @plan.daily_exercises.group_by(&:day).each do |date, daily_exercises| %>
      <h3><%= date %>'s Workout: </h3>
      <div class="exsets"><% daily_exercises.each do |daily_exercise| %>
        <div class="exsets">
          <p><%= daily_exercise.exercise.name %></p>
          <% if daily_exercise.sets != nil %>
            <p>SETS: <%= daily_exercise.sets %></p>
          <% end %>
          <% if daily_exercise.reps != nil %>
            <p>REPS: <%= daily_exercise.reps %></p>
          <% end %>
          <% if daily_exercise.minutes != nil %>
            <p>MINUTES: <%= daily_exercise.minutes %></p>
          <% end %>
          
        </div>
      <% end %></div>
    <% end %>
    
  </div>
  
  <%= render 'plan_form'  %>

</article>
<%= link_to 'All Plans', plans_path %> |
<%= link_to 'Edit', edit_plan_path(@plan) %> | 
<%= link_to 'Delete', plan_path(@plan), method: :delete, data: {confirm: 'Are you sure?'} %>