<article>
  <header>
    <h1><%= @plan.week_of %></h1>
  </header>

  <% @plan.daily_exercises.group_by(&:day).each do |date, daily_exercises| %>
    <h3><%= date %>'s Workout: </h3>
    <div><% daily_exercises.each do |daily_exercise| %>
      <p><%= daily_exercise.exercise.name %></p>
      <% if daily_exercise.sets != nil %>
        <p>SETS: <%= daily_exercise.sets %></p>
      <% end %>
      <% if daily_exercise.reps != nil %>
        <p>REPS: <%= daily_exercise.reps %></p>
      <% end %>
      <% if daily_exercise.minutes != nil %>
        <p>MINUTES: <%= daily_exercise.minutes %></p>
      <% end %>
    <% end %></div>
  <% end %>
  
  <p>
    <%=  %>
  </p>

  <%= form_for([@plan, @daily_exercise]) do |f| %>
  <p>
    <%= f.label :day %>
    <%= f.date_select :day %>
  </p>
  <p>
    <%= f.label :exercise %>
    <%= f.collection_select(:exercise_id, Exercise.all, :id, :name, :prompt => 'Please select an exercise') %>
  </p>
  <p>
    <%= f.label :sets %>
    <%= f.number_field :sets %>
  </p>
  <p>
    <%= f.label :reps %>
    <%= f.number_field :reps %>
  </p>
  <p>
    <%= f.label :minutes %>
    <%= f.number_field :minutes %>
  </p>
  
  <p>
    <%= f.submit %> |
    <%= link_to "Cancel", plans_path %>
  </p>
<% end %>

</article>
<%= link_to 'All Plans', plans_path %> |
<%= link_to 'Edit', edit_plan_path(@plan) %> | 
<%= link_to 'Delete', plan_path(@plan), method: :delete, data: {confirm: 'Are you sure?'} %>