<article>
  <header>
    <h1><%= @plan.week_of %></h1>
  </header>
  <h3><%= @daily_exercise.day %>'s Workout: </h3>

  <% @plan.daily_exercises.each do |daily_exercise| %>
    <p>daily_exercise.exercise_name</p>
    <p>daily_exercise.sets</p>
    <p>daily_exercise.reps</p>
  <% end %>
  <!-- <p>
    <%= link_to "Monday", plan_day_index_path %> -->
  </p>
  <p>
    <%=  %>
  </p>
</article>
<%= link_to 'All Plans', plans_path %> |
<%= link_to 'Edit', edit_plan_path(@plan) %> | 
<%= link_to 'Delete', plan_path(@plan), method: :delete, data: {confirm: 'Are you sure?'} %>