<%= form_for(@exercise) do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :difficulty %> <br>
    <%= f.number_field :difficulty %>
  </p>
  <p>
    <%= f.submit %> | 
    <%= link_to "Cancel", exercises_path %>
  </p>
<% end %>