<%= form_for(@exercise) do |f| %>
  <p>
    <%= f.label :name %> 
    <%= f.text_field :name, autofocus: true, placeholder: "exercise name" %>
  </p>
  <p>
    <%= f.label :description %> 
    <%= f.text_area :description, placeholder: "exercise description" %>
  </p>
  <p>
    <%= f.label :difficulty %> 
    <%= f.number_field :difficulty, placeholder: "level of difficulty from 1-10" %>
  </p>
  <p>
    <%= f.submit %> | 
    <%= link_to "Cancel", exercises_path %>
  </p>
<% end %>