<header>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1>
            <%= link_to "PT Pro", root_path %>
            </h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li>
              
            </li>
            <li>
              <% if user_signed_in? %>
              <% else %>
                <%= link_to "Sign Up", new_user_registration_path %>
              <% end %>
            </li>

            <li<%= user_signed_in? ? ' class="has-dropdown"'.html_safe : ''%>>
              <% if user_signed_in? %>
                <a href="#">Logged in as <strong><%= current_user.email %></strong></a>
              <% else %>
                <%= link_to "Sign In", new_user_session_path %>
              <% end %>  
              
              <ul class="dropdown">
                <li>
                  <% if user_signed_in? %>
                    <%= link_to "Edit Profile", edit_user_registration_path %>
                  <% end %>
                </li>
                <li>
                  <% if user_signed_in? %>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>

    </header>