<!-- Left Main Sidebar -->
<div class="small-4 large-2 columns left ">
  <h2>Dashbar</h2>
  <ul class="side-nav">
    <% if current_user.role == 'trainer' %>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Exercises", exercises_path %></li>
      <li><%= link_to "Videos", videos_path %></li>
      <li><%= link_to "Plans", plans_path %></li>
    <% else %>
      <li><%= link_to "Plans", plans_path %></li>
    <% end %>
  </ul>
</div>