<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "| Personal Trainer Pro" %></title>
    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <% logged_in = !current_user.nil? %>

    <div class="large-12 columns">
      <%= render 'layouts/alerts' %> 
      <% if logged_in %>
        <%= render 'layouts/leftsidebar' %>
      <% end %>
      <div class="small-8 large-<%= logged_in ? '10' : '12' %> columns panel">
        <%= yield %>
      </div>
    </div>
    
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>